<%=render "layouts/navbar"%>
<div class="container" id="new-maintenance-record">
  <%= form_for([current_user, @car, @maintenance_record], remote: true) do |form| %>
    <!-- Form fields for car attributes -->
    <div class= "form-group">
      <%= form.label :service_date %>
      <%= form.date_field :service_date, class: "form-control" %>
    </div>


    <div class="form-group">
      <%= form.label :miles %>
      <%= form.number_field :miles, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :service_type, "Select Service Type" %>
      <%= form.select :service_type, 
                    MaintenanceRecord.service_types.keys.map { |key| [key.humanize, key] }, 
                    { prompt: "Select Service Type" }, 
                    class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :cost %>
      <%= form.number_field :cost, class: "form-control" %>
    </div>

      <div class="form-group">
      <%= form.label :notes %>
      <%= form.text_field :notes, class: "form-control" %>
    </div>



    <br>

    



    <div>
      <%= form.submit "Add Record", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>


