<%= render "layouts/navbar" %>

<div class="container">




  <h1>Maintenance Record Details</h1>

  <p>
    <strong>Service Date:</strong>
    <%= @maintenance_record.service_date.present? ? @maintenance_record.service_date.strftime('%B %d, %Y') : "Not Available" %>
  </p>

  <p>
    <strong>Miles:</strong>
    <%= @maintenance_record.miles %>
  </p>

  <p>
    <strong>Service Type:</strong>
    <%= @maintenance_record.service_type.humanize %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= number_to_currency(@maintenance_record.cost) %>
  </p>
</div>