
<%= render "layouts/navbar" %>
<div class="fs-3 shadow-sm p-3 mb-5 bg-body-tertiary rounded">
  <%= Current.user.name %>'s Garage

</div>


<div class="container">
 

  <h2> Welcome, <%= Current.user.name %> </h2>

</div>

<div class= "container p-3">
  <h3>You have <%= Current.user.cars.count %> cars</h3>
</div>







<% content_for :title, "Cars" %>


<div class= "container" id="cars">
  <% @cars.each do |car| %>
    <%= render car %>
  <% end %>
</div>