<div id="<%= dom_id car %>">


<div class="card card w-100 p-4 mb-3" style="width: 18rem;">
  <div class="card-body">
    <% if car.photo.attached? %>
      <%= image_tag car.photo.variant(resize_to_limit: [350,350]), class: "img-thumbnail", alt: "Photo here" %>
    <% else %>
      <%= image_tag "Other/No_image.jpg", alt: "no image", class: "img-thumbnail", style: "width: 350px; height: 350px;"%>

    <%end%>

    <br>
    <br>

    <h4 class="card-title"><%= link_to car.year.to_s + " " + car.make + " " + car.model, user_car_path(current_user, car), style: "text-decoration: none;" %></h4>
    <% if car.nickname? %>
      <h5 class="card-title"><%= "(" + car.nickname + ")" %></h5>
    <% else %>
    <% end %>
    <h5 class="card-text">Maintenance Records: <%= car.maintenance_records.count %></h5>
  
    
    <% if car.oil_change_due? %>
      <p style = "color: red; font-weight: bold;"> Oil Change is Due! </p>
    <% else %>


    
    <%end%>

  </div>
</div>

