<div id="<%= dom_id car %>">





<div class="card card w-100 p-4 mb-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= car.make %></h5>
    <p class="card-text"><%= car.model %></p>
    <p class="card-text"><%= car.year %></p>
    

    <div>
      <%= link_to "Show this car", user_car_path(current_user, car), class: "btn btn-outline-primary" %> 
    </div>


  </div>
</div>

