<%= render "layouts/navbar" %>

<% if alert %>
  <div class="alert alert-success">
    <%= alert %>
  </div>
<% end %>

<% if @car.oil_change_due? %>
  <div class="alert alert-warning alert-dismissible fadeshow" role="alert">
    ⚠️ An oil change is due! Please schedule maintenance.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% else %>
<% end %>


<div class="container">
  <% if @car.photo.attached? %>
    <%= image_tag @car.photo.variant(resize_to_limit: [250,250]), class: "img-thumbnail", alt: "Photo of #{@car.make} #{@car.model}" %>
  <% else %>
    <p>No photo available</p>
  <% end %>

  <div class="fs-3 shadow-sm p-3 mb-5 bg-body-tertiary rounded">
    <%= @car.year %>
    <%= @car.make %>
    <%= @car.model %>
    <br>
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <%= button_to "Edit this car", edit_user_car_path(current_user, @car), method: :get, class: "btn btn-outline-warning me-2" %>
      <%= button_to "Delete Car", user_car_path(current_user, @car), method: :delete, class: "btn btn-outline-danger" %>
    </div>
  </div>
</div>


<div class="container card card w-100 p-4 mb-3" style="width: 18rem;">
  <h3> Maintenance Dashboard </h3>

  Next Oil Change Due: <%= @car.due_in || "Not set" %>
  <br>
  <% if @car.oil_change_due? %>
  <p>Oil Status: <i class="fa-solid fa-circle-exclamation" style="color:rgb(189, 0, 0);"></i></p>
<% else %>
  <p>Oil Status: <i class="fa-solid fa-check" style="color: #29bd00;"></i></p>
  
<% end %>


Maintenance Records: <%= @car.maintenance_records.count %>

</div>



<div class="container">
  
  
  

 
</div>

<div class="container">

  <h2>Maintenance Records</h2>

  <% if @car.maintenance_records.present? %>
  
  
    <table class="table table-striped p-4">
    
      <thead>
      
        <tr>
          <th>Service Date</th>
          <th>Miles</th>
          <th>Service Type</th>
          <th>Cost</th>
          <th>Notes</th>
          
        </tr>
      </thead>
      <tbody>
        <% @car.maintenance_records.order(service_date: :asc).each do |record| %>
          <tr>
            <td><%= record.service_date.strftime('%B %d, %Y')%>
            <td><%= record.miles %></td>
            <td><%= record.service_type&.humanize || "" %></td>
            <td><%= number_to_currency(record.cost) %></td>
            <td><%= record.notes %></td>

            <td>

             <div class="btn-group" role="group" aria-label="Basic outlined example">
                <%= link_to "Edit", edit_user_car_maintenance_record_path(current_user, @car, record), class: "btn btn-outline-warning" %>
                <%= button_to "Delete", user_car_maintenance_record_path(current_user, @car, record), method: :delete, class: "btn btn-outline-danger" %>
                <%= link_to "View", user_car_maintenance_record_path(current_user, @car, record), class: "btn btn-outline-primary"%>
             </div>
            
              

            </td>
            
          </tr>

            
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No maintenance records found for this car. Add one to get started. </p>
  <% end %>

  <%= link_to "Add Maintenance Record", new_user_car_maintenance_record_path(current_user, @car), class: "btn btn-outline-success" %>


 

</div>


